{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/create_product.css' %}">

{% endblock meta %}


{% block content %}
    <header>
        <div class="title">
            <h1>tokopakedi</h1>
        </div>
        <a class="create-product-button" href="{% url 'main:create_product' %}">
            <i class="fa fa-plus-circle" style="font-size:24px;color: white;"></i>
        </a>
    </header>

    <main>
        <form method="POST">
            {% csrf_token %}
            <table>
                <!-- {{ form.as_table }} -->
                <div class="form-field">
                    <p>Photo Url</p>
                    <div class="photo-url">{{form.photo_url}}</div>
                </div>
                <div class="form-field">
                    <p>Product Name</p>
                    <div class="name">{{form.name}}</div>
                </div>
                <div class="form-field">
                    <p>Amount</p>
                    <div class="amount">{{form.amount}}</div>
                </div>
                <div class="form-field">
                    <p>Price</p>
                    <div class="price">{{form.price}}</div>
                </div>
                <div class="form-field">
                    <p>Description</p>
                    <div class="description">{{form.description}}</div>
                </div>
                <div class="form-field">
                    <p>Rating</p>
                    <div class="rating">{{form.rating}}</div>
                </div>
                <div class="form-field">
                    <p>Sold</p>
                    <div class="sold">{{form.sold}}</div>
                </div>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Add Product"/>
                    </td>
                </tr>
            </table>
        </form>
    </main>

{% endblock content %}