{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">

{% endblock meta %}

{% block content %}
<header>
    <h1 class="tokopakedi-h1">tokopakedi</h1>
</header>

<div class = "login">

    <div class="login-container">

        <h1>Login</h1>
    
        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <div class="login-field">
                    <p>Username</p>
                    <input type="text" name="username" placeholder="Username" class="form-control">
                </div>
                <div class="login-field">
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Password" class="form-control">
                </div>
                <input class="btn-login_btn" type="submit" value="Login">
            </table>
        </form>
    
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
        <div class="register-container">
            <p>Don't have an account yet?</p>
            <a href="{% url 'main:register' %}">Register Now</a>
        </div>

    </div>

</div>

{% endblock content %}