<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0px;
        }
        header{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: green;
            max-width: 100%;
            height: 100px;
            margin: 0px;
        }
        h1, h2{
            color: white;
            display: flex;
            justify-content: center;
        }
        p{
            margin: 10px;
        }
    </style>
</head>
<body>
    <header>
        <h1>tokopakedi</h1>
    </header>
    <p>Nama: {{nama}}</p>
    <p>Kelas: {{kelas}}</p>
</body>
</html>