{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'main/css/register.css' %}">


{% endblock meta %}

{% block content %}

    <header>
        <h1 class="tokopakedi-h1">tokopakedi</h1>
    </header>

    <div class = "register">
        <div class="register-container">

            <h1>Register</h1>  
        
                <form method="POST" >  
                    {% csrf_token %}  
                    <table>  
                        {{ form.as_div }}  
                        <tr>  
                            <div class="register-field">
                                <div class="username-field"></div>
                            </div>
                            <div class="register-field">
                                <div class="ppassword-field"></div>
                            </div>
                            <div class="register-field">
                                <div class="ppassword-confirmation-field"></div>
                            </div>
                            <input class="btn-register_btn" type="submit" name="submit" value="Daftar"/>
                            <p>Already registered? <a href="{% url 'main:login' %}">login</a> </p>
                        </tr>  
                    </table>  
                </form>
        
            {% if messages %}  
                <ul>   
                    {% for message in messages %}  
                        <li>{{ message }}</li>  
                        {% endfor %}  
                </ul>   
            {% endif %}
        </div>

    </div>  

{% endblock content %}