body{
    margin: 0px;
}
header{
    color: white;
    background-color: green;
    height: 125px;
    position: fixed;
    top: 0;
    z-index: 9998;
    min-width: 100%;
}
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.user-info{
    display: flex;
    flex-direction: row;
}
.user-info i,p{
    padding-left:10px;
}

.create-product-button{
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2{
    color: white;
    text-align: left;
    margin: 5px;
}

/* =============================== */
.product-box{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    border-style: double;
    justify-content: space-between;
    width:150px ;
    height: 300px;
    

}

.product-box:last-child{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    border-style: double;
    justify-content: space-between;
    width:150px ;
    height: 300px;
    background-color: green;
    
}

.product-box p{
    padding-left: 2px;
    padding-right: 2px;
}

.product-information p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15rem;
}

.price-field{
    font-weight: bold;
}

a{
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    object-fit: cover;
    flex: 1;
    image-rendering: pixelated;

}

.review-container{
    display: flex;
    flex-direction: row;
}
.total-items{
    padding-top: 125px;
}
#product_table{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    padding-top: 10px;
}

#product_table a{
    padding: 10px;
}

.change-amount-btn{
    display: flex;
    flex-direction: row;
}
.last{
    color: green;;
}
#exampleModal{
    z-index: 9999;
}