body{
    margin: 0px;
}

.tokopakedi-h1{
    color: white;
    margin: 5px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: green;
    height: 125px;
    position: fixed;
    top: 0;
    min-width: 100%;
}

.register{
    padding-top: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.register-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow:0 0 2px 2px grey;
    border-radius: 10px;
    
    padding: 20px;
}
.register-field{
    margin-bottom: 20px;
}
input{
    width: 100%;
    height: 30px;
    border-radius: 10px;

}
.btn-register_btn{
    background-color: green;
     color: white;
}
.btn-register_btn:hover{
    cursor: pointer;
    color: whitesmoke;
    background-color: darkgreen;
}